@mixin rotate($duration){
  animation: rotation $duration infinite linear;
}

@mixin bounce($duration){
  animation: bouncing $duration ease-in-out infinite reverse;
}

@keyframes rotation {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(360deg);
  }
}


@keyframes bouncing {
  0% {
    transform: translateX(0) scale(1.1);
  }
  50% {
    transform: translateX(-20%);
  }
  100% {
    transform: translateX(0) scale(1.1);
  }
}
